<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% if g.user %}
  <nav>
    <h1 class="title">Handbook</h1>
    <ul>
        <li><a href="{{ url_for('profile.index') }}">{{ g.user['username'] }}</a>
          <li><a href="{{ url_for('blog.index') }}">Posts</a>
        <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
    </ul>
  </nav>
{% else %}
  <h1 class="title center">Handbook</h1>
{% endif %}
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>